.App {
    text-align: center;
}

input {
    width: 50vw;
    height: 5vw;
    margin-top: 5vh;
    font-size: 100%;
}

button {
    display: block;
    width: 50vw;
    height: 3vw;
    margin: 5px 25vw;
}

body {
    background-color: black;
}